        body {
            font-family: Arial, sans-serif;
            padding: 0;
            margin: 0;
            background-color: #f2f2f2;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 18px;
            text-align: left;
            background-color: white;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            white-space: nowrap;
        }
        th {
            background-color: #f2f2f2;
            cursor: pointer;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
        .header-container {
            display: inline-flex;
            align-items: center;
        }
        .arrow {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            transition: transform 0.2s;
        }
        .sorted {
            color: #f58b00;
            transform: scale(1.5);
        }
        .search-container {
            padding: 10px;
            background-color: #f2f2f2;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .search-input {
            padding: 8px;
            width: 300px;
            height: 20px;
            font-size: 16px;
            border: 1px solid #ddd;
        }
        .logo {
            width: 40px;
            height: auto;
        }
        .highlight {
            background-color: yellow;
            font-weight: bold;
        }
        img {
            width: 200px;
            height: auto;
            padding-left: 20px;
        }
        .sponsors {
            display: flex;
        }
        .redc {
            width: 150px;
            height: 100%;
            padding-top: 20px;
        }
        .row-index{
            text-align: center;
            padding-left: 5px;
            margin-left: 0;
            background-color: #f2f2f2;
        }
        @media screen and (max-width: 700px) {
            .redc {
                width: 120px;
                height: 100%;
                padding-top: 20px;
            }
            .dab, .lok, .org {
                width: 160px;
                height: 100%;
                padding-left: 20px;
            }
        }
        .k100{
            font-weight: bold;
            white-space: nowrap;
            padding: 0 10px 0 10px;
            text-align: center;
            color: rgb(109, 0, 0);
            font-size: 20px;
        }
        .info{
            display: flex;
            align-items: center;
        }


.partial {
  font-style: italic;
  color: #777; /* grey */
  margin-left: 4px;
}

